body {
  background-color: black;
  font-family: arial;
  color: white
}

h1 {
  color: grey;
  font-family: verdana;
}

.maindiv {
  background-color: white;
  color: black;
  width: 400px;
  padding: 20px;
  border-radius: 25px;
  position: absolute;
  left: calc(50% - 200px);
  top: calc(50% - 200px);
}

footer {
  margin-top: 16px;
}
